<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>andytuba</string>
	<key>Builder Version</key>
	<string>10600.3.18</string>
	<key>CFBundleDisplayName</key>
	<string>this.might.be/offensive - open pix</string>
	<key>CFBundleIdentifier</key>
	<string>com.andytuba.tmbo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>src/background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/jquery/jquery.min.js</string>
				<string>src/open-top-pix.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://thismight.be/offensive/?c=hof&amp;t=today</string>
		</array>
	</dict>
	<key>Description</key>
	<string>open a bunch of pix from tmbo at once</string>
	<key>DeveloperIdentifier</key>
	<string>N65R7TEMT2</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>https://thismight.be</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://github.com/andytuba/tmbo/</string>
</dict>
</plist>
